@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

body{
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background: var(--dark);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}
.hero{
    padding:3rem 0;
}
.hero .left img{
    width:400px;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:0.5rem;
}
.hero .right h1{
    font-size:4rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
}
.hero .right {
    margin-top:-7rem;
}

section{
    padding:6rem 0;
}
section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
}

section.about p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
    margin-bottom:2rem;
}
section.about .social{
    display:flex;
}
section.about .social a{
    background:var(--dark);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}

.section-heading{
   color:var(--secondary); 
   text-align: center;
   margin-bottom:1rem;
   line-height: 0.5;
}
.section-heading span{
    color:var(--primary);
}
.section-heading + p{
   color:var(--ternary);
   font-family:'Lato', sans-serif;
   margin-bottom:8rem;
    text-align: center;
}
section.services{
    background:var(--light);
}
section.services .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
}
section.services .card-wrapper .card{
    background:var(--pure);
    padding: 3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
}

section.services .card-wrapper .card:hover{
    background: var(--dark);  
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:var(--pure);
}
