@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #5f5f5f;
    --menu-background: #2f2f2f;
    --white: #fff;
    --deepSkyBlue: #00bfff;
    --close: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica;
    font-weight: 600;
}

body {
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
}

.display {
    background: var(--background);
    height: 95%;
    width: 50%;
}

.navigation {
    position: fixed;
    top: 40px;
    left: 384px;
    bottom: 40px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid var(--menu-background);
    background: var(--menu-background);
    transition: width .5s;
    overflow-x: hidden;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 120px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/**/
.navigation ul li.active {
    background: var(--background);
}
/**/

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: var(--menu-background);
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: var(--menu-background);
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
   display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

/**/
.navigation ul li.active a {
    color: var(--deepSkyBlue);
}
/**/

.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.icon ion-icon {
    font-size: 1.5em;
}

.title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 40px;
    right: 384px;
    width: 50px;
    height: 50px;
    background: var(--menu-background);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: var(--close);
}

.toggle ion-icon {
    position: absolute;
    color: var(--white);
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
}



